body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* The above steps brought the content in centre horizantally 
    lets bring it to centre vertically too*/
    height: 100vh;  /*This is setting height of the body equal to the screen  */
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZsb3dlcnN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    /* background-image:url("https://unsplash.com/collections/632416/flowers") ; */
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    animation: change 18s infinite ease-in-out;

}

h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
}

.clock{
    display: flex;
    /* animation: change 10s infinite ease-in-out; */

}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(198, 214, 107);
    opacity: .8;
    color: black;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 19px;
}

.clock .text{
    font-size: 17px;
    height: 30px;
    text-transform: uppercase;
    background-color:burlywood;
    opacity: 70%;

}

.clock #ampm{
    bottom: 305px;
    position: absolute;
    width: 85px ;
    height: 45px;
    background-color:darksalmon;
    font-size: 25px;
}

@keyframes change {
    0%{
        background-image: url(1.jpg);
    }
    10%{
        background-image: url(2.jpg);
    }
    20%{
        background-image: url(3.jpg);
    }
    30%{
        background-image: url(4.jpg);
    }
    40%{
        background-image: url(5.jpg);
    }
    60%{
        background-image: url(6.jpg);
    }
    70%{
        background-image: url(7.jpg);
    }
    80%{
        background-image: url(8.jpg);
    }
    90%{
        background-image: url(9.jpg);
    }
    100%{
        background-image: url(10.jpg);
    }
    
}